@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/druk-wide-trial');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-r from-stellar-blue to-stellar-purple text-white font-medium py-2 px-4 rounded-lg hover:opacity-90 transition-opacity;
  }
  
  .btn-secondary {
    @apply bg-white border border-gray-300 text-gray-700 font-medium py-2 px-4 rounded-lg hover:bg-gray-50 transition-colors;
  }
  
  .card {
    @apply bg-white border border-gray-200 rounded-xl shadow-sm p-6;
  }

  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-stellar-blue focus:border-stellar-blue;
  }

  .btn-ordinary {
    @apply backdrop-blur-xl bg-white/10 text-white font-medium py-2 px-4 rounded-lg hover:opacity-90 transition-opacity;
  }
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-stellar-blue to-stellar-purple;
}
@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Starts from the right */
  }
  100% {
    transform: translateX(-100%); /* Ends to the left */
  }
}

.animate-scroll {
  animation: scrollText 10s linear infinite;
  font-family: 'Druk Wide Trial', sans-serif;
  font-weight: 700;
  color: #FFFFFF4D;     
  opacity: 20%;            
}

.hero-text{
  font-family: "Itim", cursive;
  line-height: 100px;
  font-weight: 400px;
}

@media (max-width: 1200px) {
  .stellar-logo{
    left: 64%;
  }
}
@media (max-width: 1080px) {
  .stellar-logo{
    left: 78%;
  }
}
@media (max-width: 980px) {
  .stellar-logo{
    left: 80%;
  }
}
@media (max-width: 940px) {
  .stellar-logo{
   display: none;
  }
}